main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    max-width: calc(100vw - 3em);
    padding: .5em 1em .5em 1em;
    gap: .5em;
    
    align-self: center;
}

.title {
    font-size: 1.5em;
    text-align: center;
}