header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    max-width: calc(100vw - 3em);
    padding: .5em 1em .5em 1em;
    gap: 1.5em;
}

.logo {
    font-size: 1.2em;
    font-weight: 700;
    flex: auto;
    gap: .25em;
    transition: font-weight .5s;
}

.logo:hover {
    font-weight: 900;
}

.link {
    transition: font-weight .5s;
}

.link:hover {
    font-weight: 700;
}

.logout {
    border: none;
    background-color: transparent;
    font-size: 1em;
    padding: 0
}

.cart-btn {
    position: relative;
}

.cart-btn > .disabled {
    display: none;
}

.cart-items-count {
    position: absolute;
    right: -25%;
    top: -15%;
    background-color: red;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    font-size: .5em;
    color: white;
    text-align: center;
}

.cart-btn > .cart-preview {
    display: none;
    transition: all .5s;
}

.cart-btn:hover > .cart-preview{
    position: absolute;
    right: 0%;
    display: flex;
    background-color: white;
    font-size: .5em;
    width: 30rem;
    border: 1px solid gainsboro;
    padding: 1em;
    z-index: 50;
}