header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: var(--width);
    max-width: calc(100vw - 3em);
    padding: .5em 1em .5em 1em;
    gap: .5em;
}

.logo {
    font-size: 1.2em;
    font-weight: 700;
    flex: auto;
    gap: .25em;
    transition: font-weight .5s;
}

.logo:hover {
    font-weight: 900;
}

.link {
    transition: font-weight .5s;
}

.link:hover {
    font-weight: 700;
}